Frameworks/*
.DS_Store
Lunch Mama.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Lunch Mama.xcodeproj/project.xcworkspace/xcuserdata/
Lunch Mama.xcodeproj/xcuserdata/haibintang.xcuserdatad/
